.header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  box-sizing: border-box;
  padding: 30px 80px 40px;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  position: relative;
}

.header__title {
  font-weight: 500;
  max-width: 729px;
  font-size: 60px;
  line-height: 70px;
  margin: 183px 0 0;
  z-index: 2;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0 0;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: 1;
}

.header__footer {
  color: #6f6f6f;
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}
.header__paragraph {
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  margin: 0;
}

.header__address {
  font-family: "Inter", Arial, sans-serif;
}
