.nav {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  gap: 20px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  transition: color 1s ease 1s;
}

.nav__link:hover {
  color: #2f80ed;
}
